.landing
  .landing-panel.hero-panel
    .landing-panel-inner-content
      .hero-text.pull-left
        %p.hero-tagline
          %em.hero-tagline-em Dématérialisez
          %br
          vos démarches administratives en quelques minutes

        = link_to "Demander une démo",
          "mailto:#{t("dynamics.contact_email")}?subject=Demande de démo TPS",
          :class => "hero-button"

      .hero-illustration.pull-right
        %img{ :src => image_url("landing/hero/dematerialiser.svg") }

      .clearfix

  .landing-panel.features-panel
    .landing-panel-inner-content
      %h2.landing-panel-title.features-panel-title Un outil dédié aux organismes publics

      %ul.features
        %li.feature
          %img{ :src => image_url("landing/features/creer.svg"), :class => "feature-image" }
          %p.feature-text
            %em.feature-text-em Créer
            %br
            des procédures en ligne
            %br
            en toute simplicité
        %li.feature
          %img{ :src => image_url("landing/features/gerer.svg"), :class => "feature-image" }
          %p.feature-text
            %em.feature-text-em Gérer
            %br
            les demandes des usagers 
            %br
            sur la plateforme
        %li.feature
          %img{ :src => image_url("landing/features/collaborer.svg"), :class => "feature-image" }
          %p.feature-text
            %em.feature-text-em Collaborer
            %br
            pour instruire les demandes 
            %br
            à plusieurs

  .landing-panel.testimonials-panel
    .landing-panel-inner-content
      %h2.landing-panel-title Ce que les utilisateurs pensent du service

      %ul.quotes
        %li.quote
          %img{ :src => image_url("landing/testimonials/quotation-mark.svg"), :class => "quote-quotation-mark pull-left" }
          %p.quote-content.pull-right
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat volutpat quam in rhoncus. Fusce id ligula erat. Maecenas aliquam velit in purus lobortis, sit amet gravida ligula lobortis.
          .clearfix

          %img{ :src => image_url("landing/testimonials/ivan-collombet.jpg"), :class => "quote-author-avatar pull-left" }
          %p.quote-author.pull-left
            %span.quote-author-name Ivan Collombet
            %br
            Responsable produit, TPS
          %img{ :src => image_url("landing/testimonials/company-logo.svg"), :class => "quote-quotation-mark pull-right" }
          .clearfix

        %li.quote
          %img{ :src => image_url("landing/testimonials/quotation-mark.svg"), :class => "pull-left" }
          %p.quote-content.pull-right
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat volutpat quam in rhoncus. Fusce id ligula erat. Maecenas aliquam velit in purus lobortis, sit amet gravida ligula lobortis.
          .clearfix

          %img{ :src => image_url("landing/testimonials/philippe-vrignaud.jpg"), :class => "quote-author-avatar pull-left" }
          %p.quote-author.pull-left
            %span.quote-author-name Philippe Vrignaud
            %br
            Intrapreneur, SGMAP
          %img{ :src => image_url("landing/testimonials/company-logo.svg"), :class => "pull-right" }
          .clearfix

  - cache "numbers-panel", :expires_in => 3.hours do
    .landing-panel.numbers-panel
      .landing-panel-inner-content
        %h2.landing-panel-title TPS en chiffres
        %ul.numbers
          %li.number
            .number-value
              = number_with_delimiter(Procedure.where(:published => true).count, :locale => :fr)
            .number-label<
              procédures
              %br<>
              dématérialisées
          %li.number
            .number-value
              = number_with_delimiter(Dossier.where.not(:state => :draft).count, :locale => :fr)
            .number-label<
              dossiers
              %br<>
              déposés
          %li.number
            .number-value
              = "#{number_with_delimiter(50, :locale => :fr)} %"
            .number-label<
              de réduction
              %br<>
              des délais de traitement
